* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    background: #eee;
    color: #111;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 1em;
    justify-content: center;
}

#canvasVideo,
#canvasWrapper {
    display: block;
    height: 360px;
    position: relative;
    width: 720px;
}
#canvasWrapper {
    align-items: end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: flex;
    height: 361px;
    justify-content: center;
    overflow: hidden;
}
#canvasWrapper:hover::before {
    background: rgba(0,0,0,.5);
    content: '';
    color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
#canvasWrapper.loading:hover::before {
    content: 'Loading...';
}
#canvasWrapper.play:hover::before {
    content: 'Play';
}
#canvasWrapper.pause:hover::before {
    content: 'Pause';
}
#canvasWrapper.play:hover::before,
#canvasWrapper.pause:hover::before,
#canvasWrapper.loading:hover::before {
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    height: 360px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 720px;
}

#video {
    left: 0;
    position: absolute;
    top: 0;
    width: 720px;
}

#subtitles {
    bottom: 20px;
    display: none;
    height: 36px;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#subtitles.on {
    display: flex;
}

#transcript {
    background: rgba(0,0,0,.75);
    border-radius: 50px;
    bottom: -20px;
    color: white;
    line-height: 1;
    opacity: 0;
    padding: 10px 20px;
    position: absolute;
    transition: all ease-in-out .2s;
}
#transcript.show {
    bottom: 0;
    opacity: 1;
}

#muteAudio {
    background-image: url('images/volume_on.svg');
    top: 25px;
}
#muteAudio.muted {
    background-image: url('images/volume_off.svg');
}

#subtitlesBtn {
    background-image: url('images/subtitles_off.svg');
    top: 73px;
}
#subtitlesBtn.on {
    background-image: url('images/subtitles_on.svg');
}

#captureFrame {
    background-image: url('images/screenshot-icon.svg');
    top: 121px;
}

.btn {
    background-color: rgba(0,0,0,.75);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;
    border: 0;
    border-radius: 50%;
    display: none;
    height: 38px;
    position: absolute;
    right: 25px;
    width: 38px;
    z-index: 3;
}

/* #canvasWrapper.play:hover .btn,
#canvasWrapper.pause:hover .btn { */
#canvasWrapper:hover .btn {
    display: block;
}

#testImage {
    border: 2px solid red;
    border-radius: 4px;
    display: none;
    height: 250px;
    overflow: hidden;
}
#testImage.show {
    display: block;
}