* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    background: #eee;
    color: #111;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 1em;
    justify-content: center;
}

#canvasVideo {
    pointer-events: none;
}
#canvasVideo,
#canvasWrapper {
    display: block;
    height: 360px;
    position: relative;
    width: 720px;
}
#canvasWrapper {
    align-items: end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#canvasWrapper:hover::before {
    background: rgba(0,0,0,.5);
    content: '';
    color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
#canvasWrapper.play:hover::before {
    content: 'Play';
}
#canvasWrapper.pause:hover::before {
    content: 'Pause';
}
#canvasWrapper.play:hover::before,
#canvasWrapper.pause:hover::before {
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    height: 360px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 720px;
}

#transcript {
    background: #222;
    border-radius: 50px;
    bottom: 15px;
    color: white;
    display: none;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    z-index: 1;
}
#transcript.show {
    display: block;
}